<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./findhackathon.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

</head>
<body>

    <header>
        <div class="logo">
            <img src="logo.jpg.jpeg" alt="BrainBridges Logo">
            <h3>BrainBridges</h3>
        </div>
        <nav>
            <a href="/landing_page  ">Home</a>
            <a href="/myprofile">My Profile</a>
            <a href="#">Messages</a>
            <a href="/showrequest">Requests</a>
            <a href="#">Info</a>
            <a href="#">About Us</a>
            <a href="#">Settings</a>
        </nav>
        <div class="login-signup-button">
            <button>
            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="40" fill="black" class="bi bi-person-circle" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
              </svg>
            </button>
            <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample" style="background-color: white; color: black; border:none; ">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="black" class="bi bi-filter" viewBox="0 0 16 16">
                    <path d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5m-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5"/>
                  </svg>
               
               
            </button>
        </div>
        
    
    </header>
    <br>
    <br>
    <br>
    <br>
    
    <div class="heading">Hackathons <span style="color:rgb(76, 76, 247)">awaits</span>
    </div>

    <div class="nav-search">
        <input type="text"  placeholder=" Search Hackathons..." class="search-input">
        <div class="search-icon">
            <button><i class="fa-solid fa-magnifying-glass"></i></button>      
        </div>

      
    </div>

    <a href="/showsaved"><button class="save">Your hackathons</button></a>

<!-- side bar option -->


 
  
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel" style="width:280px;">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">Filters</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div>
        
      </div>
      <div class="dropdown mt-3">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" style="width:250px;">
         Event Type
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Remote</a></li>
          <li><a class="dropdown-item" href="#">Online</a></li>
        </ul>
        <br>
        <br>
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" style="width:250px;">
            
           </button>
           <ul class="dropdown-menu">
             <li><a class="dropdown-item" href="#">Global</a></li>
             <li><a class="dropdown-item" href="#">Within</a></li>
           
           </ul>

           <br>
           <br>

           <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" style="width:250px;">
            Languages
           </button>
           <ul class="dropdown-menu">
             <li><a class="dropdown-item" href="#">Swift</a></li>
             <li><a class="dropdown-item" href="#">Kotlin</a></li>
             <li><a class="dropdown-item" href="#">Javascript</a></li>
             <li><a class="dropdown-item" href="#">Java</a></li>
           </ul>
           <br>
           <br>
      </div>
    </div>
  </div>
  <!-- container for showing hackathons -->
    <div class="container">

      
        
        <div class="row">

          <% data.forEach(function(i){ %>
         
          <div class="col-md-6">
           
            <div class="hackathon-box">
                <h3 class="hackathon-name"><%=i.eventName %></h3>
                <p class="location"><%= i.eventAddress %></p>
                <p class="prize">Organized by <%= i.organizationName %></p>
        
                <div class="details">
                  <div class="detail-box">Online/Offline</div>
                  <div class="detail-box"><%=i.eventStartDate %></div>
                  <div class="detail-box" id="event"><%=i.eventTheme %></div>
                </div>
        
                <div class="buttons-container">
                    <button class="apply-btn" onclick="handleclick('<%= i.eventName %>')" type="button">View More</button>

                    <button class="save-btn" onclick="handlesave('<%= i.eventID %>')">Save</button>
                </div>
              </div>
            </div>
          <% }); %>
        </div>
          

            
            
           
    </div>
        
    
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script>
    function handleclick(eventId) {
        window.location.href = `/hackathon/${eventId}`;
    }

    function handlesave(id)
    {
      fetch('/savehacks', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({id:id})
    })
    }
    function adjustFontSize() {
        const detailBoxes = document.querySelectorAll('.detail-box');
        
        detailBoxes.forEach(box => {
            let fontSize = parseFloat(window.getComputedStyle(box).fontSize); // Get the initial font size
            let maxFontSize = fontSize + 10; // Allow the font to grow a little
            let minFontSize = fontSize - 3; // Allow it to shrink slightly
            const text = box.innerText;
            
            const fitText = () => {
                // Create a span to measure text width
                const span = document.createElement('span');
                span.style.position = 'absolute';
                span.style.visibility = 'hidden';
                span.style.whiteSpace = 'nowrap';
                span.style.fontSize = `${fontSize}px`;
                span.innerText = text;
                document.body.appendChild(span);
                
                const spanWidth = span.offsetWidth;
                const boxWidth = box.offsetWidth;
                
                if (spanWidth > boxWidth && fontSize > minFontSize) {
                    // Text is too wide, decrease font size
                    fontSize -= 0.5;
                    span.style.fontSize = `${fontSize}px`;
                } else if (spanWidth < boxWidth && fontSize < maxFontSize) {
                    // Text fits, but there's room to grow
                    fontSize += 0.5;
                    span.style.fontSize = `${fontSize}px`;
                }
                
                box.style.fontSize = `${fontSize}px`; // Set the final font size
                document.body.removeChild(span); // Remove the span element
            };
            
            fitText(); // Run the function
        });
    }

    window.addEventListener('load', adjustFontSize); // Adjust on page load
    window.addEventListener('resize', adjustFontSize); // Adjust on window resize
</script>
</html>